doctype html
html(
 id="caw-html")
  head
    title Cassandra-Web
    link(
      rel="icon"
      type="image/png"
      href="static/img/logo.png")
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width,initial-scale=1.0")
  body
    div#app
